</div>
<div class="footer">
  <div style=" background-color: red; text-align: center; margin: auto;">
    <h6><a style="color: aliceblue;" href="https://wa.me/+2347019521272"><i class="fa-brands fa-square-whatsapp"></i>
        whatsApp </a> <a style="color: aliceblue;"
        href="https://www.facebook.com/profile.php?id=100064347533612&mibextid=rS40aB7S9Ucbxw6v"><i
          class="fa-brands fa-facebook"></i> facebook</a> <a style="color: aliceblue;"
        href="http://instagram.com/kesan_ssc"><i class="fa-brands fa-square-instagram"></i>instagram</a></h6>
  </div>
  <p style="color: aliceblue; margin-bottom: 0%;"><h6>Made by Just-TeCH Company</h6> </p>


</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>