<%- include("partials/header"); -%>
<div
  class=""
  style="
    background-color: rgb(179, 179, 188);
    color: aliceblue;
    padding: 10%;
    margin-bottom: 0%;
  "
>
  <h1 style="color: rgb(19, 30, 232); text-shadow: 2px 5px 5px royalblue; padding-bottom: 3%;">
    Welcome To DStv Installers Enugu!
  </h1>
  <h4 style=" margin-bottom: 0; color: rgb(36, 33, 33)">
    We specialize on DStv installations which includes
    <ul>
      <hr />
      <li>PVR,</li>
      <hr />
      <li>EXTRA VIEW,</li>
      <hr />
      <li>RELOCATIONS,</li>
      <hr />
      <li>REALIGNMENT,</li>
      <hr />
      <li>EXPLORER,</li>
      <hr />
      <li>MOUNTING TV'S</li>
      <hr />
      <li>HOME THEATERS, ETC.</li>
    </ul>
    <hr />
    We offer 3months guarantee on equipment such as Cables, LNB and Satellite
    Dishes. Our work are done by qualified and experienced Installers. We are
    located in Enugu state, Nigeria. We work from Monday to Saturday, 8-6pm. For
    more information contact <span>KAITO on 07019521272</span> OR E-mail us at
    <a href="mailto: dstvinstallersenugunigeria@gmail.com"><em style="font-size: small;"> dstvinstallersenugunigeria@gmail.com</em></a>
  </h4>
</div>
<%- include("partials/footer"); -%>
