<%- include("partials/header"); -%>

<!-- Home page picture -->

<div style="background-color: blue;" class="headerIMG">
  <img
    class="headerIMG1"
    style="height: 400px; padding: 0%; margin: 0%; width: 100%"
    src="/image.JPG/sundayIMG4.jpg"
    alt=""
  />
  <div class="img2Div" style="z-index: 1">
    <img class="headerIMG2" src="/image.JPG/sunday2.jpg" alt="" />
  </div>
</div>

<!-- line break -->
<!-- 
<div class="container">
  <hr class="lineBreak" />
</div> -->

<!-- Features -->

<section class="white-section" id="features">
  <h1 style="text-shadow: 2px 5px 5px royalblue;">
    We specialize on installations of DStv, tv installation and relocation
  </h1>

  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4">
        <img style="width: 90px" src="/image.JPG/sundayIMG7.jpg" alt="" />
        <!-- <i class="icon fas fa-check-circle fa-4x"></i> -->
        <h3 class="feature-title">Tv installations.</h3>
        <p></p>
      </div>

      <div class="feature-box col-lg-4">
        <img style="width: 100px" src="/image.JPG/sundayIMG4.jpg" alt="" />
        <!-- <i class="icon fas fa-bullseye fa-4x"></i> -->
        <h3 class="feature-title">DStv installations</h3>
        <p></p>
      </div>

      <div class="feature-box col-lg-4">
        <img style="width: 100px" src="/image.JPG/sundayIMG5.png" alt="" />
        <!-- <i class="icon fas fa-heart fa-4x"></i> -->
        <h3 class="feature-title">GOtv installations</h3>
        <p></p>
      </div>
    </div>
  </div>
</section>

<!-- review section -->

<!-- Testimonials -->
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner" style="padding-bottom: 3%; padding-top: 3%;">
    <div class="carousel-item active">
      <h2>im very happy with hes work</h2>
      <img style="width: 70px; height: 200px; " src="/image.JPG/sunday1.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <h2>he is a powerfull installer</h2>
      <img style="width: 70px; height: 200px;" src="/image.JPG/sundayIMG3.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <h2>i will always recomend him</h2>
      <img style="width: 70px; height: 200px;" src="/image.JPG/sunday2.jpg" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
 <%- include("partials/footer"); -%>
